@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300..700&display=swap');

:root{
  --theme-color:#21063e
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #1a0303;
}

a{
  text-decoration: none;
  color:inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #1a0303;
}

.flex-col{
  display: flex;
  flex-direction: column;
}