.cart {
    margin-top: 100px;
    font-size: 1.6rem;
    background-color: #1a1a1a;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1.5fr;
    align-items: center;
    text-align: center;
    color: #b0b0b0;
    font-size: max(1vw,12px);
    border-bottom: 1px solid #333;
}

.cart-items-item {
    margin: 10px 0;
    color: #ffffff;
}

.cart-items-item img {
    width: 50px;
    justify-self: center;
    filter: brightness(0.9);
}

.cart-counter img {
    width: 22px;
    cursor: pointer;
    filter: invert(0.8);
}

.cart hr {
    height: 1px;
    background-color: #333;
    border: none;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #b0b0b0;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 4px;
    border: 1px solid #444;
}

.cart-promocode-input input {
    background: #333;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #ffffff;
}

.cart-promocode-input button {
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: #222;
    border: none;
    color: white;
    border-radius: 4px;
}